# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=811809f21f8fa80c3f469878eae455ef
###< symfony/framework-bundle ###

###> docker-compose ###
NGINX_PORT=8090
POSTGRES_PORT=5442
DATABASE_URL=postgresql://user:secret@postgres:5432/episode?serverVersion=15&charset=utf8
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=c8dace55fe7d2fdf943b72fc983f414722976f5446059c06c81cbbeebb8514fe
###< lexik/jwt-authentication-bundle ###
RICK_AND_MORTY_URL=https://rickandmortyapi.com/api