version: '3.8'

services:
  php:
    build:
      context: ./docker/php
    container_name: app
    volumes:
      - .:/var/www/symfony
    networks:
      - symfony-network
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}

  nginx:
    build:
      context: ./docker/nginx
    container_name: nginx
    volumes:
      - .:/var/www/symfony
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - ${NGINX_PORT}:80
    depends_on:
      - php
    networks:
      - symfony-network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: crawler
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - symfony-network

networks:
  symfony-network:
    driver: bridge

volumes:
  pgdata:
